body{
    background: black;
}

#post{
    background: white;
	width: 400px;
	height: 550px;
	margin: auto;
}

.post-header{
    display: flex;
    height: 20px;
	margin: auto;
}

.post-img-paisaje{
  width: 90%;
  height: auto;
}

.inst1{
  position: relative;
  margin-top: 5px;
  margin-left: -310px;
  left: 90%;
}

.inst2{
  position: relative;
  margin-top: -20px;
  margin-left: 350px;
  margin-right: 90%;
}

.puntos{
  position: relative;
  left: 90%;
  margin-left: 5px;
  font-size: 1.2rem
}

.post-icons{
    padding: 35px 20px;
    margin-top: -25px;
}

.form-text{
    margin-top: -10px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.material-icons{
    margin-top: -20px;
    margin-left: 15px;
    
}

.text-muted{
     margin-top: -15px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
}

   
